name: playwright

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '10 23 * * *'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: 'Set up playwright'
        uses: microsoft/playwright-github-action@v1

      - name: 'Set up node'
        uses: actions/setup-node@v1

      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
           python-version: 3.9

      - name: 'Install requirements'
        run: pip install segno && pip install playwright && playwright install && pip install requests

      - name: 'Working'
        run: python ./healthware.py ${{ secrets.HEALTHWARE_USERNAME }} ${{ secrets.HEALTHWARE_PASSWORD }}

      - name: 'Successfully'
        run: python ./success.py
